{% extends '_base.html' %}

{% block page_title %}
لیست کتاب ها
{% endblock page_title %}
{% block content %}
    <div class="container mt-3">

    {% for book in books %}
{#        <h1><a href="{% url 'book_detail' pk=book.id %}">{{ book.title }}</a></h1>#}
        <a href="{{ book.get_absolute_url }}"><h1>{{ book.title }}</h1></a>
            <p>{{ book.author }}</p>
            <p>{{ book.description }}</p>
            <p>{{ book.price }}</p>
{#        <a href="{% url 'book_detail' pk=book.id %}">more details</a>#}
        <br>
        <br>
    {% endfor %}
        <a href="{% url 'book_create' %}"><h1>اضافه کردن کتاب جدید</h1></a>
    </div>
{% endblock content %}
