{% extends '_base.html' %}

{% block page_title %}
لیست کتاب ها
{% endblock page_title %}
{% block content %}
    <div class="container mt-3">

    {% for book in books %}
{#        <h1><a href="{% url 'book_detail' pk=book.id %}">{{ book.title }}</a></h1>#}
        <a href="{{ book.get_absolute_url }}"><h1>{{ book.title|capfirst }}</h1></a>
            <p>{{ book.author|capfirst }}</p>
            <p>{{ book.description|truncatewords:12 }}</p>
            <p>{{ book.price }}</p>
{#        <a href="{% url 'book_detail' pk=book.id %}">more details</a>#}
        <a class="btn btn-info" href="{% url 'book_update' pk=book.id %}"><h6>ویرایش کتاب {{ book.title }}</h6></a>
        <a class="btn btn-danger" href="{% url 'book_delete' pk=book.id %}"><h6>حذف کتاب {{ book.title }}</h6></a>
        <br>
        <br>
    {% endfor %}
        <a href="{% url 'book_create' %}"><h1>اضافه کردن کتاب جدید</h1></a>
    </div>
{% endblock content %}
